{% extends 'wrapper.html' %}
{% block title %}Adding{% endblock %}
{% block role %}{{role}}{% endblock %}
{% block content %}
<div class="container">
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
            {% for category, message in messages %}
                {% if category == 'info' %}
                    <div class="alert alert-success" role="alert">
                        {{message}}
                    </div>
                {% elif category == 'error' %}
                    <div class="alert alert-danger" role="alert">
                        {{message}}
                    </div>
                {% endif%}
            {% endfor %}
    {% endif %}
{% endwith %}
<h2>Inserting row into <a href="/tables/{{tname}}">{{tname}}</a></h2>
<div class="form-group">
    <form method="post" action="/tables/{{tname}}/add">
        {% for c in columns %}
        <label>{{c}}</label>
        {% if c == 'status' %}
        <br>
        <input type="radio" name="status" value="1"> True<br>
        <input type="radio" name="status" value="0"> False<br>
        {% else %}
        <input type="text" required class="form-control" id="{{c}}" name="{{c}}" placeholder="Enter {{c}}">
        {% endif%}
        {% endfor %}
        <br>
        <button type="submit" class="btn btn-primary">Insert</button>
    </form>
</div>
</div>
{% endblock %}