<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{entity}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="text-center">Report {{entity}}</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                {% for c in columns %}
                    <th>{{c}}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
                {% for row in data %}
                    <tr>
                        {% for c in columns %}
                            <td>{{row|attr(c)}}</td>
                        {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>